@charset "UTF-8";
#loginBackground {
	background-position: center;
	background-size: cover;
	margin: -4%;
	z-index: 1;
	position: fixed;
	width: 108%;
	height: 108%;
}
#formContainer {
    margin: 0px;
    margin-top: 5px;
}
#formBorder {
	padding: 7px 30px;
    border: #2b2b2b54;
    border-style: solid;
    border-width: 1px;
    background: #00000059;
}