<div layout="column" layout-align="center stretch" style="padding: 8px;">

	<div ng.repeat="day in calendar" layout="column" ng-style="setStickiness(day.type)">
		<div ng-if="day.type == 'day'" layout="row" layout-align="start center">
			<div flex="10" layout="column" layout-align="center center" style="margin: 8px;">
				<p style="margin:0px; font-size: large; font-weight: bold;">{{day.day.date()}}</p>
				<p style="margin: 0px; font-size: small;">{{day.day.format("MMM")}}</p>
			</div>
		</div>
		<md-subheader ng-if="day.type == 'month'" class="md-primary" layout="row">{{day.name}}</md-subheader>
	</div>
	
</div>