.menu-icons {
	padding: 0 5px;
	margin-left: 6px;
    margin-right: 6px;
}

.menu-items {
	padding: 0 10px;
}
p.ng-binding.ng-scope.flex {
    text-align: left;
    margin: 0px;
    padding-left: 8px;
}