<md-dialog>
	<form name="surveyUpdateForm">
		<md-toolbar>
		    <div class="md-toolbar-tools">
			    <h2>Modifica sondaggio</h2>
		    </div>
   		</md-toolbar>
		<md-dialog-content style="pagging-top: 8px;">
			<md-card layout="column">
				<md-card-header>
			        <md-card-header-text>
			        	<span class="md-title">Informazioni generali</span>
			        </md-card-header-text>
		        </md-card-header>
			    <textarea ui-tinymce="tinymceOptions" ng-model="question"></textarea>
		    	<div layout="column" flex layout-padding style="padding-bottom: 0px" layout-align="center start">
		    		<p style="padding: 0px">Data di pubblicazione:</p>
		    		<md-datepicker required md-placeholder="seleziona data" ng-model="startDate" md-min-date="minPublishDate" md-max-date="maxPublishDate"></md-datepicker>
		    	</div>
		    	<div layout="column" flex layout-padding style="padding-top: 0px" layout-align="center start">
		    		<p style="padding: 0px">Data di chiusura:</p>
		    		<md-datepicker required md-placeholder="seleziona data" ng-model="expireDate" md-min-date="minCloseDate" md-max-date="maxCloseDate"></md-datepicker>
		    	</div>
		    </md-card>
		    <md-card layout="column">
				<md-card-header>
			        <md-card-header-text>
			        	<span class="md-title">Informazioni utenti</span>
			        </md-card-header-text>
		        </md-card-header>
		        <md-tabs md-dynamic-height layout="column" md-align-tabs="bottom">
		        	<md-tab label="Votanti" layout="column">
		        		<div layout="column" layout-padding>
			        		<md-checkbox ng-checked="isChecked(selectedVoters)"
			                         md-indeterminate="isIndeterminate(selectedVoters)"
			                         ng-click="toggleAll(selectedVoters)">
			            		<span ng-if="isChecked(selectedVoters)">Deseleziona tutto</span><span ng-if="!isChecked(selectedVoters)">Seleziona tutto</span>
			            	</md-checkbox>
					        <div layout="row" layout-wrap>
					        	<div flex="50" ng-repeat="role in roles">
				              		<md-checkbox ng-checked="exists(role, selectedVoters)" ng-click="toggle(role, selectedVoters)">
				                	{{ role.role }}
				              		</md-checkbox>
				            	</div>
				        	</div>
			        	</div>
		        	</md-tab>
		        	<md-tab label="Interessati" layout="column">
		        		<div layout="column" layout-padding>
				        	<md-checkbox ng-checked="isChecked(selectedViewers)"
				                         md-indeterminate="isIndeterminate(selectedViewers)"
				                         ng-click="toggleAll(selectedViewers)">
				            	<span ng-if="isChecked(selectedViewers)">Deseleziona tutto</span><span ng-if="!isChecked(selectedViewers)">Seleziona tutto</span>
				            </md-checkbox>
					        <div layout="row" layout-wrap>
					        	<div flex="50" ng-repeat="role in roles">
				              		<md-checkbox ng-checked="exists(role, selectedViewers)" ng-click="toggle(role, selectedViewers)">
				                	{{ role.role }}
				              		</md-checkbox>
				            	</div>
					        </div>
				        </div>
		        	</md-tab>
		        </md-tabs>
		    </md-card>
		    <md-card layout="column">
				<md-card-header>
			        <md-card-header-text>
			        	<span class="md-title">Informazioni risposte</span>
			        </md-card-header-text>
		        </md-card-header>
		        <div layout="column" layout-padding>
			        <md-input-container style="margin-bottom: 0px" class="md-block">
				        <label>Numero di risposte possibili</label>
				        <input required type="number" step="1" name="answerNumber" ng-model="answerNumber" ng-min="1"
				               ng-max="maxNumberOfAnswers"/>
					<div ng-messages="surveyUpdateForm.answerNumber.$error">
	            		<div ng-message="required">Questo campo &#xE8; obbligatorio</div>
	            		<div ng-message="max">Non puoi votare pi&#xF9; risposte di quante ce ne sono</div>
	            		<div ng-message="min">Devi poter votare almeno una risposta</div>
	          		</div>
		     		</md-input-container>
		     		<md-subheader class="md-no-sticky" style="background-color: white">Risposte</md-subheader>
		     		<div ng-repeat="answer in answers" layout="row" layout-align="start center" style="padding-top: 0px">
		     			<h3 style="margin-right: 10px">{{$index+1}}- </h3>
		     			<md-input-container ng-if="answer.answerType == 'TEXT'" md-no-float flex md-truncate style="margin-bottom: 0px" class="md-block">
					        <input required type="text" name="answer_{{$index+1}}" placeholder="Testo domanda {{$index+1}}" ng-model="answer.answerContent.answerText"/>
							<div ng-messages="getField($index+1)">
		            			<div ng-message="required">Questo campo &#xE8; obbligatorio</div>
		          			</div>
		     			</md-input-container>
		     			<div ng-if="answer.answerType == 'IMAGE'"  flex layout="row" layout-align="start center">
			     			<md-input-container md-no-float flex md-truncate style="margin-bottom: 0px" class="md-block">
						        <input required type="text" name="answer_{{$index+1}}" placeholder="Testo domanda {{$index+1}}" ng-model="answer.answerContent.answerText"/>
								<div ng-messages="getField($index+1)">
			            			<div ng-message="required">Questo campo &#xE8; obbligatorio</div>
			          			</div>
			     			</md-input-container>
			     			<input style="display: none; visibility: hidden;" id="imageUploader" type="file" nv-file-select uploader="fileUploader"/>
			     			<md-button class="md-icon-button" ng-click="loadImage($index)">
			     				<md-icon class="material-icons">image</md-icon>
			     			</md-button>
		     			</div>
		     			<div ng-if="answer.answerType == 'DATE'">
		     				<md-datepicker required name="answer_{{$index+1}}" ng-model="answer.answerContent.answerText" md-placeholder="Seleziona data" md-min-date="expireDate"></md-datepicker>
		     			</div>
		     			<md-button class="md-icon-button md-warn" ng-click="removeAnswer($index)">
		    				<md-icon class="material-icons">delete</md-icon>
		    			</md-button>
		     		</div>
		     		<md-menu>
			     		<md-button class="md-icon-button" ng-click="openAddMenu($mdMenu, $event)">
			    			<md-icon class="material-icons">add</md-icon>
			    		</md-button>
			    		<md-menu-content width="3">
				        <md-menu-item>
				          <md-button ng-click="addAnswer('TEXT')">
				            <md-icon class="material-icons" md-menu-align-target>title</md-icon>
				            Testo
				          </md-button>
				        </md-menu-item>
				        <md-menu-item>
				          <md-button ng-click="addAnswer('IMAGE')">
				            <md-icon class="material-icons">image</md-icon>
				            Immagine
				          </md-button>
				        </md-menu-item>
				        <md-menu-item>
				          <md-button ng-click="addAnswer('DATE')">
				            <md-icon class="material-icons">event</md-icon>
				            Data
				          </md-button>
				        </md-menu-item>
				      </md-menu-content>
			    	</md-menu>
	     		</div>
		    </md-card>
	    </md-dialog-content>
	    <md-dialog-actions layout="row">
		    <md-button class="md-raised md-primary" ng-click="uploadSurvey()">
		    	Salva
		    	<md-icon class="material-icons">cloud_upload</md-icon>
		    </md-button>
		    <md-button class="md-raised md-primary" ng-click="exit()">
		    	Esci
		    	<md-icon class="material-icons">clear</md-icon>
		    </md-button>
		    <span flex md-truncate></span>
		    <md-button class="md-warn" ng-click="resetAll()">
		    	Reset
		    	<md-icon class="material-icons">refresh</md-icon>
		    </md-button>
	    </md-dialog-actions>
    </form>
</md-dialog>