<div ng-controller = "paginaAppuntiCtrl">
	<md-card ng-if="appunto != null">
        <md-card-header>
          <md-card-avatar>
            <img class="md-user-avatar" src="{{appunto.student.imageUrl}}"/>
          </md-card-avatar>
          <md-card-header-text>
            <span class="md-title">{{appunto.student.username}}</span>
            <span class="md-subhead">scritto da {{appunto.student.username}}</span>
          </md-card-header-text>
        </md-card-header>
        <img ng-src="" class="md-card-image" alt="Washed Out">
        
        <md-card-actions layout="row" layout-align="start center">
          	<md-button class="material-icons">thumb_up</md-button>
	  		<md-button class="material-icons">thumb_down</md-button>
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="toggle">
              <md-icon md-svg-icon="md-toggle-arrow"></md-icon>
            </md-button>
          </md-card-icon-actions>
        </md-card-actions>
        <md-card-content>
          <p>
            {{appunto.description}}
          </p>
        </md-card-content>
      </md-card>
      <div class="material-icons" ng-click="back()" style="margin: 8px; padding: 5px; position:relative">arrow_back</div>
</div>