<md-dialog layout="column" style="overflow-x: hidden"> 
	<md-toolbar>
		<div class="md-toolbar-tools">
		<h2 ng-if="!isVoted && !isLoading">Vota</h2>
		<h2 ng-if="isVoted && !isLoading">Risultati</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="cancel()"> 
			<md-icon class="material-icons">close</md-icon> 
		</md-button>
		</div>
	</md-toolbar>
	
	<div layout="column" flex layout-align="center center" ng-if="isLoading">
    	<md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
 
	<!-- Pagina di votaggio --> 
	<md-dialog-content layout-padding flex layout="column" ng-if="!isVoted && !isLoading">
		<div ng-bind-html="question|trustAsHtml"></div>
		<md-subheader style="background: white;">Risposte (voti rimasti: {{answerLeft}})</md-subheader>
		<div layout="row" layout-wrap>
			<div ng-if="answer.answerType!='IMAGE'" flex="50" ng-repeat="answer in answers">
				<md-checkbox ng-checked="exists(answer.answerId)"
					ng-click="toggle(answer.answerId)"> {{answer.answerContent.answerText }} </md-checkbox>
			</div>
			<div ng-if="answer.answerType=='IMAGE'" flex="100" ng-repeat="answer in answers" layout="row" layout-align="start center">
				<md-checkbox ng-checked="exists(answer.answerId)"ng-click="toggle(answer.answerId)">
				</md-checkbox>
				<md-grid-list flex
				        md-cols-xs="2" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="2"
				        md-row-height-gt-md="1:1" md-row-height="1:1"
				        md-gutter="12px" md-gutter-gt-sm="8px" >
					    <md-grid-tile background-img="{{answer.answerContent.answerImage}}" md-rowspan="2" md-colspan="2" md-colspan-sm="2" md-colspan-xs="2">
					    	<md-grid-tile-footer>
					        	<h3>{{answer.answerContent.answerText }}</h3>
					    	</md-grid-tile-footer>
					    </md-grid-tile>
				    </md-grid-list>
			</div>
		</div>
	</md-dialog-content> 
	
	<!-- Pagina di visualizzazione risultati --> 
	<md-dialog-content layout-padding flex layout="column" ng-if="isVoted && !isLoading">
		<!-- Sezione domanda -->	
		<div layout-padding ng-bind-html="question|trustAsHtml">
			
		</div>
		<!-- Sezione risultati -->
		<md-subheader style="background: white;">Risultati</md-subheader>
		<canvas id="doughnut" style="padding:0px" class="chart chart-doughnut"
			chart-data="data" chart-labels="labels">
		</canvas>
		<!-- Sezione riepilogo -->
		<md-subheader style="background: white;">Riepilogo</md-subheader>
		<div layout="row" layout-wrap layout-padding>
			<div ng-if="answer.answerType!='IMAGE'" flex="50" ng-repeat="answer in answers">
				{{answer.answerContent.answerText}} : {{calculateAnswerPercentage(answer.votesNumber)}} %
			</div>
			<div ng-if="answer.answerType=='IMAGE'" flex="100" ng-repeat="answer in answers" layout="row" layout-align="start center">
				<md-grid-list flex
				      md-cols-xs="2" md-cols-sm="2" md-cols-md="2" md-cols-gt-md="2"
				      md-row-height-gt-md="1:1" md-row-height="1:1"
				      md-gutter="12px" md-gutter-gt-sm="8px" >
					<md-grid-tile background-img="{{answer.answerContent.answerImage}}" md-rowspan="2" md-colspan="2" md-colspan-sm="2" md-colspan-xs="2">
						<md-grid-tile-footer>
					       	<h3>{{answer.answerContent.answerText}} : {{calculateAnswerPercentage(answer.votesNumber)}} %</h3>
					    </md-grid-tile-footer>
					</md-grid-tile>
				</md-grid-list>
			</div>
		</div>
	</md-dialog-content>
	 
	<!-- Footer --> 
	<md-dialog-actions layout="row" ng-if="!isVoted && !isLoading"> 
		<md-button class="md-primary" ng-disabled="canVote" ng-click="sendVotes()">
			<md-icon class="material-icons">done</md-icon>
			Vota 
		</md-button>
	</md-dialog-actions> 
</md-dialog>