<div ng-controller="caricaAppuntiCtrl">
	<form>
		<md-card layout="column"> <md-card-header><md-card-header-text> <span class="md-title">
		Informazioni sull'appunto</span> </md-card-header-text> </md-card-header>
		
		<md-input-container class="md-block">
        <label>Titolo</label>
        <input md-maxlength="50" required md-no-asterisk name="title" ng-model="title">
        <div ng-messages="title.$error">
          <div ng-message="required">Serve un titolo.</div>
          <div ng-message="md-maxlength">Al massimo 50 caratteri.</div>
        </div>
      </md-input-container>
		
	<div>
	<div> 
	<div layout="column" flex layout-padding style="padding-bottom: 0px" layout-align="center start" >
	     <textarea style=" width:93%;"" ng-model="description" placeholder ="Descrizione dell'appunto"></textarea>
	    	</div>
	         </div>
  <md-autocomplete
          md-selected-item="subject"
          md-search-text="searchTextSubject"
          md-search-text-change="querySearchSubject(searchTextSubject)"
          md-selected-item-change="selectedItemChange(subject)"
          md-items="subject in listaTeacher"
          md-item-text="subject.name"
          md-min-length="0"
          placeholder="Materia dell'appunto">
        <md-item-template>
          <span md-highlight-text="searchTextSubject" md-highlight-flags="^i">{{subject.name}}</span>
        </md-item-template>
        <md-not-found>
         Non esiste "{{searchTextSubject}}" come materia.
        </md-not-found>
      </md-autocomplete>
	</div>
	<div>
  		 <md-autocomplete
          md-selected-item="teacher"
          md-search-text="searchTextTeacher"
          md-search-text-change="querySearchTeacher(searchTextTeacher)"
          md-selected-item-change="selectedItemChange(teacher)"
          md-items="teacher in listaTeacher"
          md-item-text="teacher.lastname"
          md-min-length="0"
          placeholder="Scrivi il nome del prof">
        <md-item-template>
          <span md-highlight-text="searchTextTeacher" md-highlight-flags="^i">{{teacher.lastname}}</span>
        </md-item-template>
        <md-not-found>
         Non esiste "{{ctrl.searchText}}" come prof.
        </md-not-found>
      </md-autocomplete>
	</div>
	<div layout="row" style = "margin-top: 20px;">
		 <md-input-container class="md-block" flex-gt-sm>
            <label>Anno</label>
            <input ng-model="classNumber">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Sezione</label>
            <input ng-model="section">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Indirizzo</label>
            <input ng-model="indirizzo">
          </md-input-container>
	</div>
	<div>
		<md-card-content>
		carica appunto
		<input style="display: none; visibility: hidden;" id="imageUploader" type="file" nv-file-select uploader="fileUploader" ng-model="loader"/>
		     		<md-button class="md-icon-button" ng-click="loadImage()">
		     			<md-icon class="material-icons">add</md-icon>
		     		</md-button>
		     	</md-card-content>
		     	</div>
 	</md-input-container>
	 <div layout="row">
		    <md-button class="md-raised md-primary" ng-click="uploadAppunto()">
		    	Salva
		    	<md-icon class="material-icons">cloud_upload</md-icon>
		    </md-button>
		    <md-button class="md-raised md-primary" ng-click="exit()">
		    	Esci
		    	<md-icon class="material-icons">clear</md-icon>
		    </md-button>
		    <span flex md-truncate></span>
		    <md-button class="md-warn" ng-click="resetAll()">
		    	Reset
		    	<md-icon class="material-icons">refresh</md-icon>
		    </md-button>
	    </div>
</md-card>
</form>
</div>
