<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>CopeApp</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Font roboto -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
		<!-- All material icons -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="login/login.css">
		<link rel="stylesheet" href="firstEntry/firstEntry.css">
		<link rel="stylesheet" href="main/sidenav/sidenav.css">
	</head>
	
	<body ng-app="CopeApp" ng-cloak style="overflow:hidden;" layout="column" ng-controller="IndexCtrl">

		<!-- Spazio per i generals -->
		<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-messages/angular-messages.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="node_modules/trianglify/dist/trianglify.min.js"></script>
		<script type="text/javascript" src="node_modules/ngletteravatar/dist/ngletteravatar.min.js"></script>
		<script type="text/javascript" src="node_modules/angular-file-upload/dist/angular-file-upload.js"></script>
		<script type="text/javascript" src="node_modules/momentjs/moment.js"></script>
		<script type="text/javascript" src="node_modules/momentjs/locale/it.js"></script>
		<script type="text/javascript" src="node_modules/angular-momentjs/angular-momentjs.js"></script>
		<script type="text/javascript" src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
		<script type="text/javascript" src="node_modules/ui-tinymce-master/dist/tinymce.min.js"></script>
		<script type="text/javascript" src="node_modules/chartJS/Chart.js"></script>
		<script type="text/javascript" src="node_modules/angular-chartjs/angular-chart.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<!-- Spazio per le directives -->
		<script type="text/javascript" src="directives/calendarDirective.js"></script>
		<!-- Spazio per i services -->
		<script type="text/javascript" src="services/userService.js"></script>
		<script type="text/javascript" src="services/surveyService.js"></script>
		<script type="text/javascript" src="services/commonsService.js"></script>
		<!-- Spazio per i controllers -->
		<script type="text/javascript" src="index.js"></script>
		<script type="text/javascript" src="login/login.js"></script>
		<script type="text/javascript" src="firstEntry/firstEntry.js"></script>
		<script type="text/javascript" src="main/main.js"></script>
		<script type="text/javascript" src="main/header/header.js"></script>
		<script type="text/javascript" src="main/sidenav/sidenav.js"></script>
		<script type="text/javascript" src="main/sidenav/sidenavHeader/sidenavHeader.js"></script>
		<script type="text/javascript" src="home/home.js"></script>
		<script type="text/javascript" src="news/news.js"></script>
		<script type="text/javascript" src="accountSettings/accountSettings.js"></script>
		<script type="text/javascript" src="surveys/surveys.js"></script>
		<script type="text/javascript" src="surveys/surveyPage/surveyPageTMPL.js"></script>
		<script type="text/javascript" src="surveys/createSurvey/createSurvey.js"></script>
		<script type="text/javascript" src="surveys/updateSurvey/updateSurvey.js"></script>
		<script type="text/javascript" src="interrogazioni/interrogazioni.js"></script>
		
		<md-content ng-if="!loggedIn" ng-include="'login/login.html'" flex layout="column"></md-content>
		<md-content ng-if="loggedIn && user.firstEntry" ng-include="'firstEntry/firstEntry.html'" flex layout="column"></md-content>
		<md-content ng-if="loggedIn && !user.firstEntry" ng-include="'main/main.html'" layout="column" flex></md-content>
		
	</body>
</html>
