<div ng-controller="SurveysCtrl" layout="column">
	<md-tabs md-dynamic-height md-border-bottom layout="column">
		<md-tab label="Attivi">
			<md-subheader ng-if="activeSurveys.length == 0" style="margin:8px">Non ci sono sondaggi in questa sezione</md-subheader>
			<md-content layout-padding>
				<md-card style="padding: 0px;" ng-repeat="activeSurvey in activeSurveys">
					<md-card-content layout-padding style="max-height: 40vh" ng-bind-html="activeSurvey.question|trustAsHtml" ng-click="showSurveyDetails($event, activeSurvey.surveyId, $index)">
					</md-card-content>
					<md-card-actions style="margin: 0px; padding: 8px; border-top-width: 1px; border-top-style: solid; border-top-color: #00000042" layout="row" child-align="end center">
						<md-icon class="material-icons" style="margin-right: 8px;">how_to_vote</md-icon>
						<p class="md-subhead"  layout="row" layout-align="start start" style="color: #0000008a;" flex md-truncate> 
								{{activeSurvey.voters}}
						</p>
						<p class="md-subhead md-warn">  
								{{calculateExpireDate(activeSurvey.closeSurveyDate, activeSurvey.openSurveyDate)}}
						</p>
						<md-button style="margin: auto;" ng-if="checkRoles('admin')" class="md-icon-button md-warn" ng-click="deleteSurvey(activeSurvey.surveyId)" >
							<md-icon class="material-icons">delete_forever</md-icon>
						</md-button>
					</md-card-actions>
				</md-card>
			</md-content>
			<md-button ng-if="activeSurveys.length != 0" ng-click="refreshActive()">Carica altro</md-button>
			<md-button ng-if="activeSurveys.length == 0" ng-click="refreshActive()">Aggiorna</md-button>
		</md-tab>
		<md-tab label="Scaduti">
			<md-subheader ng-if="finishedSurveys.length == 0" style="margin:8px">Non ci sono sondaggi in questa sezione</md-subheader>
			<md-content layout-padding>
				<md-card style="padding: 0px;" ng-repeat="finishedSurvey in finishedSurveys">
					<md-card-content layout-padding style="max-height: 40vh" ng-bind-html="finishedSurvey.question|trustAsHtml" ng-click="showSurveyDetails($event, activeSurvey.surveyId)">  
					</md-card-content>
					<md-card-actions layout="row" style="margin: 0px; padding: 8px; border-top-width: 1px; border-top-style: solid; border-top-color: #00000042" child-align="end center">
						<md-icon class="material-icons" style="margin-right: 8px;">how_to_vote</md-icon>
						<p class="md-subhead" style="color: #0000008a;" flex md-truncate>{{finishedSurvey.voters}}</p>
						<p class="md-subhead md-warn">{{calculateExpireDate(finishedSurvey.closeSurveyDate, finishedSurvey.openSurveyDate)}}</p>
						<md-button style="margin: auto;" ng-if="checkRoles('admin')" class="md-icon-button md-warn">
							<md-icon class="material-icons">delete_forever</md-icon>
						</md-button>
					</md-card-actions>
				</md-card>
			</md-content>
			<md-button ng-if="finishedSurveys.length != 0" ng-click="refreshFinished()">Carica altro</md-button>
			<md-button ng-if="finishedSurveys.length == 0" ng-click="refreshFinished()">Aggiorna</md-button>
		</md-tab>
		<md-tab label="I miei" ng-if="checkRoles('admin') || checkRoles('redattore')" layout="column">
			<md-subheader>Crea sondaggio
				<md-button style="margin: auto;" ng-click="goto('createSurvey')" class="md-icon-button">
					<md-icon class="material-icons">add</md-icon>
				</md-button>
			</md-subheader>
			<md-content layout-padding>
				<md-card style="padding: 0px;" ng-repeat="mySurvey in mySurveys">
					<md-card-content layout-padding style="max-height: 40vh" ng-bind-html="mySurvey.question|trustAsHtml">
					
					</md-card-content>
					<md-card-actions layout="row" style="margin: 0px; padding: 8px; border-top-width: 1px; border-top-style: solid; border-top-color: #00000042" child-align="end center">
						<md-icon class="material-icons" style="margin-right: 8px;">how_to_vote</md-icon>
						<p class="md-subhead" style="color: #0000008a;" flex md-truncate>{{mySurvey.voters}}</p>
						<md-button style="margin: auto;" class="md-icon-button md-primary" ng-if="canModifySurvey(mySurvey.openSurveyDate)" ng-click="modifySurvey($event, mySurvey.surveyId, mySurvey.openSurveyDate)">
							<md-icon class="material-icons">edit</md-icon>
						</md-button>
						<p class="md-subhead md-warn">{{calculateExpireDate(mySurvey.closeSurveyDate, mySurvey.openSurveyDate)}}</p>
						<md-button style="margin: auto;" class="md-icon-button md-warn" ng-click="deleteSurvey(mySurvey.surveyId)">
							<md-icon class="material-icons">delete_forever</md-icon>
						</md-button>
					</md-card-actions>
				</md-card>
			</md-content>
			<md-button ng-if="mySurveys.length != 0" ng-click="refreshMine()">Carica altro</md-button>
			<md-button ng-if="mySurveys.length == 0" ng-click="refreshMine()">Aggiorna</md-button>
		</md-tab>
	</md-tabs>
</div>